.filters {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.search-button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  margin-top: 11px;
  margin-bottom: 11px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  float: right;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.9;
}
